@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');


.App {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main-title */

.main-title {
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    text-align: center;
    font-style: normal;
}

.main-title h1 {
    font-weight: 200;
    font-size: 4.3rem;
    margin-bottom: 0;
}
.main-title h3 {
    font-weight: 200;
    font-size: 2rem;
    margin-top: 0;
}